@import "variables.scss";

.active-users {
  margin-bottom: 60px;
  padding-top: 52px;
}

.active-users__wrapper {
  position: relative;
}

.active-users__title {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
}

.active-users__show-all {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  box-sizing: border-box;
  width: 191px;
  margin-left: auto;
  padding: 11px;
  align-self: center;

  border: 1px solid $blue;
  border-radius: 5px;

  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: $blue;
  text-decoration: none;

  &:hover {
    color: $orange;
    border-color: $orange;
  }

  &:active {
    opacity: 0.5;
  }
}

.active-users__slider-wrapper {
  width: 100%;
  height: 491px;
  padding-bottom: 60px;
}

.active-users__slide {
  width: auto;
}

.active-users__slogan {
  margin: 0;
  padding: 45px 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  background-color: $transparent-blue;
  border-radius: 20px;
}

.active-users__slogan-text {
  background: linear-gradient($blue, $dark-blue);
  background-clip: text;
  color: transparent;
}


@media (max-width: $max-mobile-width) {
  .active-users {
    margin-bottom: 35px;
    padding-top: 30px;
  }

  .active-users__slider-wrapper {
    height: 318px;
    padding-bottom: 20px;
  }

  .active-users__title {
    padding: 0 20px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  .active-users__button-wrapper {
    padding: 0 20px;
  }

  .active-users__show-all {
    position: relative;
    padding: 10px;
    width: 100%;
  }

  .active-users__slogan-wrapper{
    padding: 0 20px;
  }

  .active-users__slogan {
    margin-top: 35px;
    padding: 17px 25px;
    font-size: 16px;
    line-height: 24px;
  }
}
