@import "variables.scss";
.diagram {
  padding-top: 0;
  padding-bottom: 10px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-10px);
}

.diagram__level {
  position: relative;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &--5 {
    width: 542px;
    height: 542px;
    border: 1px solid $diagram-blue-border;

    &::after {
      content: "";
      position: absolute;
      right: 16.5%;
      bottom: 2.5%;
      display: block;
      width: 10%;
      height: 10%;
      border: 2px solid $white;
      border-radius: 50%;
      background-image: url("../img/diagram-3.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transform: translate(-50%, -50%);
    }
  }

  &--4 {
    width: 85%;
    height: 85%;
    background-color: $diagram-blue2;

    &::after {
      content: "";
      position: absolute;
      left: 39%;
      top: 13%;
      display: block;
      width: 12%;
      height: 12%;
      border: 2px solid $white;
      border-radius: 50%;
      background-image: url("../img/diagram-1.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transform: translate(-50%, -50%);
    }
  }

  &--3 {
    width: 80%;
    height: 80%;
    background-color: $diagram-blue2;

    &::after {
      content: "";
      position: absolute;
      left: 25%;
      bottom: -8.5%;
      display: block;
      width: 15%;
      height: 15%;
      border: 2px solid $white;
      border-radius: 50%;
      background-image: url("../img/diagram-2.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transform: translate(-50%, -50%);
    }
  }

  &--2 {
    width: 73%;
    height: 73%;
    background-color: $diagram-blue;
  }

  &--1 {
    width: 66%;
    height: 66%;
    background-color: $orange;
  }

  &--you {
    width: 47%;
    height: 47%;
    background-color: $white;
    background-image: url("../img/diagram-you.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid $white;
    border-radius: 50%;
  }

}

.diagram-level__tooltip {
  position: absolute;
  z-index: 3;
  width: max-content;
  padding: 15px;
  background-color: $white;
  box-shadow: 0px 24px 32px $black-shadow;
  transition: transform 500ms ease;

  &--you {
    bottom: 65%;
    right: 55%;
    padding-right: 4vw;
    border-radius: 20px 20px 0 20px;
  }

  &--1 {
    left: 68%;
    bottom: 78%;
    border-radius: 20px 20px 20px 0;
    transform-origin: bottom left;
  }

  &--2 {
    right: 90%;
    top: 62%;
    border-radius: 20px 0px 20px 20px;
    transform-origin: top right;
  }

  &--3 {
    left: 70%;
    bottom: 12%;
    border-radius: 20px 20px 20px 0;
    transform-origin: bottom left;
  }

  &--4 {
    right: 50%;
    top: 95%;
    border-radius: 20px 0px 20px 20px;
    transform-origin: top right;
  }

  &--closed {
    visibility: hidden;
    transform: scale(0.1);
  }

  &--opened {
    visibility: visible;
    display: block;
    transform: scale(1);
  }
}

.diagram-level__button {
  position: absolute;
  z-index: 2;
  max-width: 30px;
  max-height: 30px;
  width: 2.6vw;
  height: 2.6vw;
  border: 1px solid $white;
  border-radius: 50%;
  cursor: pointer;

  &--1 {
    left: 60%;
    bottom: 70%;
    background-color: $transparent-white;
  }

  &--2 {
    left: 4.5%;
    bottom: 34%;
    background-color: $diagram-button-blue1;
  }

  &--3 {
    right: 26%;
    bottom: 8%;
    background-color: $diagram-button-blue2;
  }

  &--4 {
    right: 47%;
    bottom: 2%;
    background-color: $transparent-blue2;
  }

  &:hover {
    background-color: $blue;
  }

  &:active {
    opacity: 0.5;
  }
}


@media (min-width: $max-mobile-width) and (max-width: $desktop-wrapper) {
  .diagram__level {
    &--5 {
      width: 47vw;
      height: 47vw;
    }
  }

  .diagram-level__tooltip {
    max-width: 18vw;
  }
}

@media (max-width: $max-mobile-width) {
  .diagram__level {
    &--5 {
      width: 64vw;
      height: 64vw;
    }
  }

  .diagram-level__tooltip {
    width: max-content;
    padding: 10px;
  }

  .diagram-level__button {
    width: 4vw;
    height: 4vw;
  }
}
