@import "variables.scss";

.faq__title {
  margin: 0;
  margin-bottom: 47px;
}

.faq__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.faq__item {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  border-bottom: 1px solid $grey;
}

.faq__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 19px;
  padding-right: 15px;
}

.faq__item-name {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.faq__description {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-right: 60px;
  font-size: 15px;
  line-height: 24px;
  overflow: hidden;
  transition: all 800ms ease;

  &--opened {
    max-height: 500px;
    margin-bottom: 19px;
  }

  &--closed {
    max-height: 0.1px;
    margin-bottom: 0;
  }
}

.faq__button {
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: $transparent-blue2;
  cursor: pointer;
  transition: transform 300ms ease;

  &:hover {
    background-color: $diagram-blue2;
  }

  &:active {
    opacity: 0.5;
  }

  &--opened {
    transform: rotate(360deg);
  }

  &--closed {
    transform: rotate(180deg);
  }
}

.faq__icon {
  width: 15px;
  height: 9px;
  transform: translateY(-25%);
}

@media (max-width: $max-mobile-width) {
  .faq__item-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }

  .faq__button {
    width: 32px;
    height: 32px;
  }

  .faq__description {
    padding-right: 40px;
    font-size: 12px;
    line-height: 24px;
  }
}
