@import "variables.scss";

.page__body {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  max-width: 100%;
  font-family: $Nunito;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.page__main {
  flex-grow: 1;
}

.page__header-wrapper {
  position: relative;
  margin: 0;
  padding: 0 20px;


  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    background-image: url(../img/header-background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 73% left 50%;

    transform: scaleX(-1);
  }
}

.page__header-container {
  max-width: $desktop-wrapper;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 28px;
  color: $white;
}

.page__header {
  margin-bottom: 65px;
}

.page__section {
  box-sizing: border-box;
  max-width: calc($desktop-wrapper + 40px);
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: $max-mobile-width) {
  .page__body {
    font-size: 12px;
  }

  .page__header-container {
    max-width: $max-mobile-width;
    min-width: $mobile-wrapper;
    padding-top: 28px;
  }

  .page__header {
    margin-bottom: 30px;
  }

  .page__section {
    min-width: calc($mobile-wrapper + 40px);
    padding: 0;
  }
}
