@import "variables.scss";

.start-info__amount {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.02em;
}

.start-info__text {
  max-width: 450px;
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
}

.start-info__links-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -2px;
}

.start-info__link {
  display: block;
  box-sizing: border-box;
  margin: 0;
  margin-right: 19px;
  padding: 12px 10px 8px 10px;

  color: $white;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.03em;
  text-decoration: none;

  border-radius: 5px;

  &--major {
    width: 196px;
    background-color: $blue;
  }

  &--minor {
    font-weight: 600;
    width: 136px;
    border: 1px solid $white;
  }

  &:hover {
    background-color: $orange;
  }

  &:active {
    opacity: 0.5;
  }
}


@media (max-width: $max-mobile-width) {
  .start-info__amount {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0;
  }

  .start-info__text {
    margin-bottom: 28px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
  }

  .start-info__link {
    margin: 0;
    width: 100%;
    line-height: 24px;

    &--minor {
      display: none;
    }
  }
}
