// fonts
$Nunito: "Nunito", "Arial", sans-serif;
$Manrope: "Manrope", Arial, sans-serif;

// colors
$white: #ffffff;
$black: #000000;
$grey: #f9f9f9;
$grey2: #f3f3f3;
$medium-grey: #999999;
$dark-grey: #737373;
$darkest-grey: #666666;
$blue: #03bafe;
$orange: #ffa200;
$dark-blue: #0068ff;
$light-blue: #ebfaff;
$transparent-blue: rgba(235, 250, 255, 0.7);
$transparent-blue2: rgba(107, 203, 239, 0.2);
$diagram-blue: rgba(3, 186, 254, 0.2);
$diagram-blue-border: rgba(3, 186, 254, 0.15);
$diagram-blue2: rgba(94, 211, 255, 0.4);
$transparent-black: rgba(0, 0, 0, 0.1);
$transparent-white: rgba(255, 255, 255, 0.7);

// Viewports

$max-mobile-width: 880px;
$desktop-width: 1440px;

// Widths

$mobile-wrapper: 340px;
$desktop-wrapper: 1160px;
